version: 2
jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:tap-tester-v4
    steps:
      - checkout
      - run:
          name: 'Install libsnappy-dev'
          command: |
            apt install --yes libsnappy-dev
      - run:
          name: 'Setup virtualenv'
          command: |
            python3 -m venv ~/.virtualenvs/tap-heap
            source ~/.virtualenvs/tap-heap/bin/activate
            pip install -U pip setuptools
            pip install .[dev]
      - run:
          name: 'Run tests'
          command: |
            source ~/.virtualenvs/tap-heap/bin/activate
            make
workflows:
  version: 2
  commit:
    jobs:
      - build:
          context: circleci-user
  build_daily:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build:
          context: circleci-user
